<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoApp"
        tools:targetApi="31">
        <!-- Task Activities -->
        <activity
            android:name=".ui.activities.EditTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TaskDetailActivity"
            android:exported="false" />

        <!-- Daily Activities -->
        <activity
            android:name=".ui.activities.DailyCheckinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DailyReviewActivity"
            android:exported="false" />

        <!-- AI & Focus Activities -->
        <activity
            android:name=".ui.activities.AICoachActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FocusSessionActivity"
            android:exported="false" />

        <!-- Stats & Settings -->
        <activity
            android:name=".ui.activities.StatsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false" />

        <!-- Onboarding Activity (LAUNCHER for Preview) -->
        <activity
            android:name=".ui.activities.onboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.TodoApp"></activity> <!-- Splash Activity -->
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.TodoApp.Splash" /> <!-- Login Activity -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.TodoApp" /> <!-- Register Activity -->
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.TodoApp" /> <!-- Forgot Password Activity -->
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.TodoApp" /> <!-- Main Activity -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TodoApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>